.model-overlay
    top: 0
    bottom: 0
    right: 0
    width: 100%
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    z-index: 3
    opacity: 0.6
    background-color: #221d1d
.add-chat-model
    width: 500px
    height: 359px
    background-color: #fff
    color: black
    display: flex
    flex-direction: column
    top: 19%
    left: 35%
    position: fixed
    z-index: 3
    border-radius: 24px
    padding: 15px
    animation: bounceIn 0.8s
    position: fixed

.add-user
    padding-left: 20px
.add-user-header
    padding: 0 0 0 0
    font-size: 18px
    font-weight: 500
    margin: 0 0 10px 0
.add-image-header
    padding: 5px 0 0 0
.add-user-header-1
    padding: 5px 0 10px 0
.modal-form
    padding: 20px 20px 0 18px

.modal-input
    width: 97.5%
    height: 40px
    border: none
    outline: none
    border-radius: 10px
    font-size: 18px
    background-color: #f3f3f3
    padding-left: 10px
.model-close
    width: 100%
    display: flex
    cursor: pointer
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #000
.model-right
    margin-right: 15px
.model-btn-1
    width: 100px
    height: 44px
    border-radius: 5px
    font-size: 17px
    font-weight: bold
    color: #000
    border: 1px solid #d2d1d1
    cursor: pointer
    margin: 0 0 0 0
    background-color: #ededed
.model-btn-2
    width: 100px
    height: 44px
    border-radius: 5px
    font-size: 18px
    font-weight: bold
    color: #fff
    border: none
    cursor: pointer
    outline: none
    margin: 0 0 0 15px
    background-color: #0e4c45
.modal-div-btn
    margin: 13px 0 0 0
    display: flex
    width: 100%
    align-items: center
    justify-content: center
.error-message
    color: red
    margin: 0
    font-size: 14px
@keyframes bounceIn
    0%
        transform: scaleY(0.76)
        opacity: 0.4
    50%
        transform: scaleY(0.98)
        opacity: 0.5
    100%
        transform: scaleY(1)
        opacity: 1
@media ( max-width:860px)
    .model-form
        padding: 0 10px 0 6px
    .add-chat-model
        right: 0
        left: 18vw
        width: 60vw
        margin: 0
    .model-close
        width: 60vw
    .model-input
        width: 60vw
    .add-user
        padding-right: 10px
@media (max-width: 1200px) and (min-width:860px)
    .add-chat-model
        left: 30vw
        width: 50vw
        margin: 0
@media (max-width: 500px)
    .add-chat-model
        width: 95vw
        left: 0
    .model-close
        width: 95vw
