.model-overlay
    top: 0
    bottom: 0
    right: 0
    width: 100%
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    z-index: 3
    opacity: 0.6
    background-color: #221d1d
.add-chat-model
    width: 500px
    height: 380px
    background-color: #128C7E
    color: white
    display: flex
    flex-direction: column
    top: 15%
    left: 40%
    position: fixed
    z-index: 3
    border-radius: 12px
    margin: 10px
    padding: 10px
    animation: bounceIn 0.8s
.add-user
    padding-left: 28px
.add-user-header
    padding-left: 2px
    font-size: 1.2rem

.modal-form
    padding: 0 20px 0 20px

.modal-input
    width: 100%
    height: 40px
    border: none
    outline: none
    border-color: none
    border-radius: 10px
    font-size: 18px
    background-color: #f3f3f3
    padding-left: 10px
.model-close
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid white
.model-right
    margin-right: 15px
.model-btn
    width: 100px
    height: 40px
    border-radius: 10px
    font-size: 1.2rem
    font-weight: bold
    color: #fff
    border: none
    outline: none
    margin-top: 15px
    background-color: #0e4c45
@keyframes bounceIn
    0%
        transform: scaleY(0.76)
        opacity: 0.4
    50%
        transform: scaleY(0.98)
        opacity: 0.5
    100%
        transform: scaleY(1)
        opacity: 1