.message-header
    height: auto
    width: 360px
    background-color: #fff
    padding: 0 0 0 10px
    &::-webkit-scrollbar
        display: none
.message-headers-and-btns
    display: flex
    position: fixed
    top: 0px
    align-items: center
    justify-content: center
    width: 324px
    padding: 10px
    background-color: #fff
.message-heading
    width: 340px
    color: white
    font-size: 23px
.message-toggle
    color: #8d21a6
    font-size: 20px
    color: white
    border-radius: 10px
    padding: 12px
%input-base
    font-size: 15px
.search-div
    z-index: 1
    border-radius: 10px
    background-color: #f3f3f3
    top: 65px
    position: fixed
    width: 330px
    padding-bottom: 1px
    margin-bottom: 10px
    display: flex
    align-items: center
.search-icon
    color: #070202
    height: 16px
    margin: 0 10px 0 20px
.input-search
    width: 240px
    height: 40px
    border: none
    outline: none
    border-color: none
    border-radius: 10px
    font-size: 18px
    background-color: #f3f3f3
.user-chat
    overflow: auto
    margin-top: 100px
    position: fixed
    width: 333px
    height: 100vh
    &::-webkit-scrollbar
        display: none

.chat-container
    margin-top: 15px
    display: flex
    padding: 12px
    justify-content: space-between
    overflow: hidden
    border-radius: 10px

.chat-div-1
    display: flex
    justify-content: space-evenly
    align-items: center

.user-image
    width: 50px
    height: 50px
    border-radius: 10px
    object-fit: cover
    border-radius: 50%
.user-name
    margin: 0
    padding-left: 10px
    font-size: 17px
    padding-bottom: 7px
.user-message
    padding-left: 10px
    font-size: 17px
    font-weight: 500
.user-date
    margin-top: 10px
    margin-left: 5px
    font-size: 12px
