.message-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    position: fixed
    width: 260px
    background-color: #fff
.message-heading
    color: white
    font-size: 23px
.message-toggle
    background-color: #8d21a6
    font-size: 20px
    color: white
%input-base
    font-size: 15px
.search-div
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    background-color: #f3f3f3
    top: 78px
    position: fixed
    width: 280px
    padding-bottom: 1px
    margin-bottom: 10px
.search-icon
    color: #070202
    height: 16px
    font-size: 30px
    margin-left: 5px
.input-search
    width: 240px
    height: 40px
    border: none
    outline: none
    border-color: none
    border-radius: 10px
    font-size: 18px
    background-color: #f3f3f3
.user-chat
    margin-top: 130px
.chat-container
    margin-top: 15px
    display: flex
    padding: 12px
    justify-content: space-between
    overflow: hidden
    border-radius: 10px
    &:hover
        background-color: #9568dd
        transform: scale(1.02)
        color: #fff
.chat-div-1
    display: flex
    justify-content: center
.user-image
    width: 50px
    height: 50px
    border-radius: 10px
    object-fit: cover
.user-name,.user-message
    margin: 0
    padding-left: 10px
    font-size: 15px
.user-date
    margin-top: 10px
    margin-left: 5px
    font-size: 12px

