$white-color: #fff
$light-green-color: #128C7E
%input-base
    font-size: 14px
    font-family: "Plus Jakarta Sans", sans-serif
    &.active
        color: #fff
    &.inactive
        color: #000
.message-header
    background-color: #F5FAFC
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    &::-webkit-scrollbar
        display: none
    &.active
        background-color: #F5FAFC
        color: #111B21
    &.inactive
        background-color: #111B21
        color: #DFF6F4

.message-headers-and-btns
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 100%
    background-color: #F5FAFC
    &.active
        background-color: #F5FAFC
    &.inactive
        background-color: #111B21

.message-heading
    color: white
    font-size: 23px
.message-toggle
    display: flex
    align-items: center
    justify-content: center
    color: #8d21a6
    font-size: 20px
    color: white
    cursor: pointer
    border-radius: 10px
    padding: 12px
.mess-head-img
    display: flex
    margin-left: 10px
.mess-image
    width: 40.35px
    height: 40.35px
    border-radius: 50%
.mess-head
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin: 10px 12px 10px 10px
.mess-header-down
    cursor: pointer
    width: 24px
    height: 24px

.mess-status
    margin-left: 10px
.header-btn
    border-radius: 15px
    color: $white-color
    width: 100%
    display: flex
    align-items: center
    background-color: $white-color
    border: none
    outline: none
    box-shadow: 0px 1px 2px 0px #c8d7d4
    margin: 0 0 15px 0
.header-sub-1
    display: flex
    align-items: center
    font-size: 16px
    font-weight: 700
    justify-content: center
    width: 100%
    // background-color: $light-green-color
    border-top-left-radius: 15px
    padding: 15px 0 15px 0
    border-bottom-left-radius: 15px
    cursor: pointer
    &.active
        background-color: $light-green-color
        color: $white-color
    &.inactive
        background-color: $white-color
        color: #5A6A9D
.header-sub-2
    display: flex
    color: #5A6A9D
    font-size: 16px
    font-weight: 700
    background-color: white
    align-items: center
    justify-content: center
    width: 100%
    border-top-right-radius: 12px
    border-bottom-right-radius: 12px
    padding: 15px 0 15px 0
    cursor: pointer
    &.active
        background-color: $white-color
        color: #5A6A9D
    &.inactive
        background-color: $light-green-color
        color: $white-color
    
.spacer
    flex: 1
.search-div
    width: 100%
    border-radius: 10px
    margin: 0 0 15px 0
    display: flex
    align-items: center
    justify-content: space-between
    border-radius: 30px
    position: relative
    box-shadow: 0px 1px 4px 0px #c8d7d4
    @extend %input-base
    &.active
        background-color: #fff
    &.inactive
        background-color: #2A3942
    &:focus-within
        outline: 1px solid $light-green-color
.search-close-icon
    margin: 4px 15px 0 0
    cursor: pointer
    color: #8696A0
.search-icon
    color: #070202
    height: 20px
    margin: 0 10px 0 10px
    font-weight: 700
    &.active
        color: #fff
    &.inactive
        color: #8696A0
.search-dis
    display: flex
    align-items: center
    width: 100%
.input-search
    font-size: 16px
    height: 45px
    border: none
    outline: none
    border-radius: 24px
    font-size: 18px
    width: 100%
    &.active
        background-color: #fff
    &.inactive
        background-color: #2A3942
        color: #fff
.user-chat
    overflow: auto
    width: 102%
    height: calc(100vh - 225px)
    &::-webkit-scrollbar
        display: none
.add-user-icon
    position: absolute
    width: 25px
    height: 25px
    bottom: 2vw
    left: 20vw
    background-color: #2b5a55
    border-radius: 50%
    color: white
    padding: 15px
    cursor: pointer

.chat-container
    display: flex
    padding: 7px 0 7px 0
    justify-content: space-between
    overflow: hidden
    border-radius: 12px
    cursor: pointer
    width: 100%
    &.active
        background-color: #128C7E
        color: #fff
    &.inactive
        background-color: ""
        color: ""
.chat-div-1
    padding-left: 7px
    display: flex
    justify-content: space-evenly
    align-items: centadd-user-iconer
.chat-div-2
    display: flex
    justify-content: space-evenly
    align-items: flex-end
    flex-direction: column
.user-image
    width: 60px
    height: 60px
    border-radius: 10px
    object-fit: cover
    border-radius: 10px
.user-chat-render
    padding: 0 0 10px 0
.user-name
    margin: 0
    padding-left: 10px
    font-size: 17px
    padding-bottom: 7px
    font-weight: 500
.user-message
    padding-left: 10px
    font-size: 14px
    font-weight: 400
.user-date
    margin-right: 10px
    font-size: 11px
.addMessage
    width: 60px
    height: 60px
    border-radius: 50%
    position: fixed
    bottom: 10px
    left: 18rem
    display: flex
    align-items: center
    justify-content: center
    background-color: #428e85

@media ( max-width:450px)
    .user-chat
        width: 98%
        height: calc( 100vh - 217px )
    .message-headers-and-btns
        width: 96%
    .add-user-icon
        left: 81vw !important
    .chat-container
        margin: 0 0 0 0
    .user-date
        margin-right: 10px
    .mess-head
        margin: 10px 0 10px 0
    .user-chat-render
        padding: 0 6px 10px 6px

@media ( max-width:860px)
    .user-chat
        width: 98%
        height: calc( 100vh - 217px )
    .message-headers-and-btns
        width: 96%
    .add-user-icon
        left: 88vw
    .chat-container
        margin: 0 0 0 0
    .user-date
        margin-right: 10px
    .mess-head
        margin: 10px 0 10px 0
    .user-chat-render
        padding: 0 6px 10px 6px

@media (max-width: 1200px) and (min-width:860px)
    .add-user-icon
        left: 28vw
