%input-base
    font-size: 20px
.cov-header-cont
    display: flex
    width: calc(100% - 400px)
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #cec9c9
    position: fixed
    padding: 15px

.cov-header-subcnt-1
    display: flex
    margin-bottom: 23px
.cov-header-img
    width: 50px
    height: 50px
    border-radius: 10px
.cov-header-detail-name
    margin: 8px
    font-weight: bold
.cov-header-detail-status
    margin: 0 8px 0 8px

.mess-div
    overflow: auto
    height: 72vh
    margin-top: 100px
    align-content: flex-end
    width: 100%
    &::-webkit-scrollbar
        display: none
.message-divs
    margin-right: 30px
    margin-left: 30px
.message
    width: 100%
    overflow: auto
    height: 12vh
.message__outer
    padding: 10px 0 10px 0
    display: flex
    margin-top: 10px
.message__inner
    display: flex
    flex-direction: row-reverse
.message__actions
    width: 67px
    padding-right: 5px
.message__bubble
    overflow-wrap: break-word
    color: white
    border-radius: 10px
    padding: 10px
    font-size: 1.2rem
    background-color: #9568dd
.message__actions
    flex-shrink: 0
.message__status
    margin-left: 10px
.user-chat-image
    height: 35px
    width: 35px
    border-radius: 10px

.cov-div
    border-top: 1px solid #9568dd
    display: flex
    align-items: center
    justify-content: center
    width: calc(100% - 360px)
    position: fixed
    bottom: 0
    z-index: 8
    background-color: #000

.input-cov-icon
    width: 100%
    padding: 5px
    display: flex
    align-items: center
    border-radius: 10px
    margin-left: 10px
    position: relative
.cov-icon
    position: absolute
    right: 10px
    cursor: pointer
    font-size: 30px
    margin-right: 10px
    border: none
    outline: none
.cov-icon-1
    margin-left: 10px
.input-cov
    width: 100%
    background-color: #f3f3f3
    box-sizing: border-box
    width: 100%
    margin: 10px
    height: 40px
    border: none
    border-color: none
    outline: none
    border-radius: 10px
    padding-left: 10px
    @extend %input-base
