$light-background-color: #ede9e9
$dark-color: #202C33
%input-base
    font-size: 18px
    font-family: "Plus Jakarta Sans", sans-serif
    &.active
        color: $light-background-color
    &.inactive
        color: #2fddce
.cov-header-cont
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 5px 15px 5px
    &::-webkit-scrollbar
        display: none
    &.active
        background-color: #F7F7FC
        color: $dark-color
    &.inactive
        background-color: $dark-color
        color: #DFF6F4
.cov
    display: flex
    justify-content: flex-start
    align-items: center
    margin-left: 10px
    font-size: 14px
    padding-top: 3px
.green-icon
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #128C7E

.cov-header-subcnt-1
    display: flex
    padding: 2px 0 0 0
    &.active
        color: #000
    &.inactive
        color: #F7F7FC
.cov-header-subcnt-2
    display: flex
    align-items: center
    justify-content: center
.cov-header-img
    width: 50px
    height: 50px
    border-radius: 50%
    padding-bottom: 2px
.cov-header-detail-name
    margin: 0 8px 0 8px
    font-weight: 500
    font-size: 18px
.cov-header-detail-status
    margin: 0 8px 0 8px
.header-icons
    margin: 0 10px 0 10px
    cursor: pointer
.conv-back-arrow
    margin: 10px
    display: none
.message__outer
    padding: 10px 0 10px 0
    display: flex
    margin-top: 10px
.message__status
    margin-left: 10px
.user-chat-image
    height: 35px
    width: 35px
    border-radius: 10px

.cov-div
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding: 15px 0 15px 0
    background: $light-background-color
    &.active
        background-color: $light-background-color
    &.inactive
        background-color: $dark-color

.cov-name-div
    display: flex
    align-items: center
    justify-content: center
.input-cov-icon
    width: 100%
    display: flex
    align-items: center
    margin-left: 12px

.cov-icon
    cursor: pointer
    font-size: 30px
    margin: 0 10px 0 10px
    border: none
    outline: none
    padding: 0
    background-color: $light-background-color
    &.active
        background-color: $light-background-color
    &.inactive
        background-color: $dark-color

.cov-icons-img
    margin: 0 15px 0 15px
    border: none
    cursor: pointer
    background-color: $light-background-color
    position: absolute
    left: 48vh
    bottom: 33vh
.cov-icon-emoji
    width: 30px
    height: 35px
    margin: 4px 5px 4px 10px
    cursor: pointer
    &.active
        color: $dark-color
    &.inactive
        color: #bab6b6
.cov-emoji-picker
    position: absolute
    bottom: 5vw
.input-cov-div
    width: 100%
    display: flex
    padding: 5px
    border-radius: 24px
    &.active
        background-color: #fff
        color: #2A3942
    &.inactive
        background-color: #2A3942
        color: #fff

.emoji-picker-react
    width: 100px
    height: 100px

.form-send
    width: 32px
    height: 32px
    margin: 8px 0 0 0
    color: rgb(18, 140, 126)
.form-mic
    width: 32px
    height: 32px
    margin: 8px 0 0 0
    color: rgb(18, 140, 126)
    background-color: #202C33
.cov-icon-1
    margin-left: 10px
.input-cov
    width: 100%
    background-color: #FFFFFF
    border: none
    font-family: "Plus Jakarta Sans", sans-serif
    outline: none
    border-radius: 24px
    resize: none
    white-space: pre-wrap
    padding: 9px 0 10px 13px
    &.active
        background-color: #fff
        color: #2A3942
    &.inactive
        background-color: #2A3942
        color: #e4e2e2
        @extend %input-base
.audio-rec
    &.active
        filter: brightness(0) saturate(100%) invert(9%) sepia(5%) saturate(5777%) hue-rotate(159deg) brightness(91%) contrast(80%)
    &.inactive
        filter: brightness(0) saturate(100%) invert(19%) sepia(16%) saturate(882%) hue-rotate(159deg) brightness(93%) contrast(89%)
.audio-controls
    filter: brightness(0) saturate(100%) invert(42%) sepia(38%) saturate(823%) hue-rotate(124deg) brightness(98%) contrast(96%)    

@keyframes bounceIn
    0%
        transform: scaleY(0.89)
        opacity: 0.4
    100%
        transform: scaleY(1)
        opacity: 1
@media (max-width: 860px)
    .conv-back-arrow
        display: block
    .cov-header-cont
        padding: 8px
        margin: 0
    .header-icons
        padding: 0
        margin: 0
        width: 30px
        height: 30px
    .cov-header-detail-name
        font-size: 15px
    .cov-header-detail-status
        margin: 0
        padding: 0 5px 0 5px
    .cov-icons-img
        margin: 0
        padding: 0 0 0 10px
        left: 2vw
        bottom: 46vh
    .cov-icon
        padding: 0
        margin: 0 10px 0 0
    .message-divs
        margin: 10px
    .form-send
        margin: 8px 0px 0 8px
