.status-div
    display: flex
.status-side-bar
    padding: 0 18px 0 18px
    border-right: 1px solid red
    flex-direction: column
    width: 30%
    background-color:#111B21
    overflow: auto
    height: 100vh
    &::-webkit-scrollbar
        display: none
.status-bar
    background-color: #111B21
    width: 100vw
    display: block
    height: 100vh
