.status-div
    display: flex
.status-side-bar
    padding: 0 18px 0 18px
    border-right: 1px solid #4a4646
    flex-direction: column
    width: 25%
    overflow: auto
    height: 100vh
    &::-webkit-scrollbar
        display: none
    &.active
        background-color: #F5FAFC
        color: #111B21
    &.inactive
        color: #F5FAFC
        background-color: #111B21
.status-bar
    background-color: #111B21
    width: 100vw
    display: block
    height: 100vh
    &.active
        background-color: #F5FAFC
        color: #111B21
    &.inactive
        color: #F5FAFC
        background-color: #111B21
@media  ( max-width: 860px )
    .status-side-bar
        width: 30%
@media (max-width: 1200px) and (min-width:860px)
  .status-side-bar
        width: 30%
// @media (max-width:450px)
//   .status-side-bar
//         width:        