.chat-divs
    display: flex
.sideBar-1
    background-color: black
    width: 100vw
.sideBar
    width: 444px
    height:100vh
    overflow: auto
    background-color: black
    cursor: pointer
    &::-webkit-scrollbar
        display: none

@import "./SideBarComp/Header"
@import "./ConvChatComp/ConvHeader"

