.container
    display: flex
    position: fixed
    flex-direction: column
    align-items: flex-start
    justify-content: center
    padding: 20px
    top: 12%
    right: 33%
    z-index: 6
    background-color: #000
    width:20%
.status-user-image
    position: relative
    width: 100%
    max-width: 400px
    height: 50
    margin-bottom: 20px

.status-bar-container
    position: relative
    width: 100%
    height: 10px
    background-color: rgba(206, 63, 63, 0.1)
    border-radius: 5px
    overflow: hidden
    margin-bottom: 10px
    display: flex

.status-bar
    width: 100%
    height: 100%
    border-radius: 5px
    margin-left: 2px
    background-color: #394a3b
    position: relative

.status-user-image
    width: 100%
    height: auto
    border-radius: 10px

.progess-bar
    z-index: 2
    background-color: #37f64d
    height: 10px
    opacity: 0.1
    position: relative
    top: 0.6vw
    left: 0
    border-radius: 5px
